.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.btn-special-animation {
  background-color: #fff;
  transition: background-color 0.3s;
}
.btn-special-animation:hover {
  background-color: gold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lobster", cursive;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.header {
  position: relative;
  padding: 4em;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../img/bridge-640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.895);
  color: #fff;
  text-shadow: 2px 2px black;
}
.header__heading {
  font-family: "Lobster", cursive;
  font-size: 8rem;
}
.header__text {
  font-size: 3rem;
  font-weight: bold;
}

.hamburger {
  position: absolute;
  top: 3em;
  right: 1em;
  transform: translateY(-50%);
  z-index: 100;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
  z-index: 100;
}

.nav__mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  transform: translateX(-102%);
  transition: transform 0.3;
  z-index: 10;
}
.nav__mobile__active {
  transform: translateX(0);
}
.nav__desktop {
  display: none;
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 0.7em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8392156863);
}
.nav__link {
  margin: 2em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  transition: color 0.3s;
}
.nav__link:hover {
  color: gold;
}

.active {
  color: gold;
}

.aboutus {
  position: relative;
  text-align: center;
  height: 1200px;
  margin-top: 4em;
  padding: 4em 8em;
}
.aboutus__heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.aboutus i {
  margin-top: 1.5em;
  margin-bottom: 0.2em;
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.8392156863);
  text-shadow: 0 0 2px #000;
}
.aboutus__title {
  font-size: 2.3rem;
}
.aboutus__text {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.image {
  position: relative;
  text-align: center;
  height: 1400px;
  padding: 16em 8em;
  background-image: url("../img/mannheim-640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.895);
}
.image__heading {
  padding: 1em 5em;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px black;
}

.cities {
  position: relative;
  height: 2800px;
  margin-top: 6em;
}
.cities__img {
  box-shadow: 5px 5px 10px;
}
.cities__heading {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}
.cities__box {
  padding: 3em 5em;
  display: flex;
}
.cities__box__text {
  padding: 1em 2em;
  font-size: 1.4rem;
}
.cities__title {
  padding: 1em 3em;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

.image2 {
  position: relative;
  text-align: center;
  height: 1400px;
  padding: 25em 8em;
  background-image: url("../img/city-640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.895);
}
.image2__heading2 {
  padding: 1em 5em;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px black;
}

.countries {
  position: relative;
  height: 2800px;
  margin-top: 6em;
}
.countries__img {
  box-shadow: 5px 5px 10px;
}
.countries__heading {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}
.countries__box {
  padding: 3em 3em;
  display: flex;
  flex-direction: row;
}
.countries__box__text--right {
  text-align: right;
  font-size: 1.4rem;
  padding: 1em 2em;
}
.countries__box__img--right {
  order: 1;
}
.countries__title {
  padding: 1em 3em;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

.contact {
  position: relative;
  padding: 4em;
  height: 1000px;
  background-color: grey;
  overflow: hidden;
}
.contact__heading {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  color: #fff;
}
.contact__form, .contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  width: 100%;
  min-height: 150px;
}
.contact__form-btn {
  background-color: #fff;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: 8px;
  align-self: flex-end;
  cursor: pointer;
}
.contact__form-btn::before {
  background-color: gold;
}

.footer {
  position: relative;
  height: 400px;
  color: grey;
}
.footer__box-text {
  padding: 2em;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.footer__box-title {
  padding: 2em;
  font-family: "Lobster", cursive;
  font-size: 2rem;
  text-align: center;
}
.footer__box-link {
  font-size: 3rem;
  padding: 3.6em;
  color: grey;
}
.footer__box-text2 {
  padding: 2em;
  text-align: center;
}
.footer__bottom-text {
  padding: 1em;
  text-align: center;
}

@media (max-width: 576px) {
  .header {
    background-image: url("../img/bridge-640.jpg");
    padding: 1em;
    height: 50vh;
  }
  .header__heading {
    font-size: 3rem;
  }
  .header__text {
    font-size: 1.5rem;
  }
  .aboutus__heading {
    font-size: 2.2rem;
  }
  .aboutus__title {
    font-size: 1.4rem;
  }
  .aboutus__text {
    font-size: 1rem;
  }
  .image,
  .image2 {
    height: 800px;
    padding: 10em 2em;
  }
  .image__heading, .image__heading2,
  .image2__heading,
  .image2__heading2 {
    font-size: 1.7rem;
  }
  .image {
    background-image: url("../img/mannheim-640.jpg");
  }
  .image2 {
    background-image: url("../img/city-640.jpg");
  }
  .cities {
    height: 3400px;
  }
  .cities__img {
    width: 400px;
  }
  .cities__box {
    padding: 0em 2em;
    flex-direction: column;
  }
  .cities__box__text {
    padding: 1em 1em;
    margin-bottom: 2em;
  }
  .cities__box__img {
    text-align: center;
  }
  .cities__title {
    padding: 1em 2em;
    text-align: center;
  }
  .countries {
    height: 3100px;
  }
  .countries__img {
    width: 400px;
  }
  .countries__box {
    padding: 0em 2em;
    flex-direction: column;
  }
  .countries__box__text--right {
    padding: 1em 1em;
    margin-bottom: 2em;
    text-align: left;
  }
  .countries__box__img {
    text-align: center;
  }
  .countries__title {
    padding: 1em 2em;
    text-align: center;
  }
}
@media (min-width: 576px) {
  .header {
    background-image: url("../img/bridge-640.jpg");
    padding: 1em;
    height: 60vh;
  }
  .header__heading {
    font-size: 4rem;
  }
  .header__text {
    font-size: 1.8rem;
  }
  .aboutus__title {
    font-size: 2rem;
  }
  .aboutus__text {
    font-size: 1.4rem;
  }
  .image,
  .image2 {
    height: 800px;
    padding: 10em 2em;
  }
  .image__heading, .image__heading2,
  .image2__heading,
  .image2__heading2 {
    font-size: 2.2rem;
  }
  .image {
    background-image: url("../img/mannheim-640.jpg");
  }
  .image2 {
    background-image: url("../img/city-640.jpg");
  }
  .cities {
    height: 3600px;
  }
  .cities__img {
    width: 450px;
  }
  .cities__box {
    flex-direction: column;
    padding: 2em 5em;
  }
  .cities__box__text {
    padding: 1em 1em;
  }
  .cities__box__img {
    text-align: center;
  }
  .cities__title {
    padding: 1em 2em;
    text-align: center;
  }
  .countries {
    height: 3400px;
  }
  .countries__img {
    width: 450px;
  }
  .countries__box {
    padding: 2em 5em;
    flex-direction: column;
  }
  .countries__box__text--right {
    padding: 1em 1em;
    margin-bottom: 2em;
    text-align: left;
  }
  .countries__box__img {
    text-align: center;
  }
  .countries__title {
    padding: 1em 2em;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .header {
    background-image: url("../img/bridge-640.jpg");
    padding: 1em;
    height: 70vh;
  }
  .header__heading {
    font-size: 5rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .aboutus__title {
    font-size: 2.3rem;
  }
  .aboutus__text {
    font-size: 1.6rem;
  }
  .image,
  .image2 {
    height: 1200px;
    padding: 10em 2em;
  }
  .image__heading, .image__heading2,
  .image2__heading,
  .image2__heading2 {
    font-size: 2.8rem;
  }
  .image {
    background-image: url("../img/mannheim-640.jpg");
  }
  .image2 {
    background-image: url("../img/city-640.jpg");
  }
  .cities {
    height: 3700px;
  }
  .cities__img {
    width: 550px;
  }
  .cities__box {
    flex-direction: column;
    padding: 1.5em 5em;
  }
  .cities__box__text {
    padding: 1em 1em;
  }
  .cities__box__img {
    text-align: center;
  }
  .cities__title {
    padding: 1em 1em;
    text-align: center;
  }
  .countries {
    height: 3400px;
  }
  .countries__img {
    width: 550px;
  }
  .countries__box {
    padding: 1.5em 5em;
    flex-direction: column;
  }
  .countries__box__text--right {
    padding: 1em 0.5em;
    margin-bottom: 2em;
    text-align: left;
  }
  .countries__box__img {
    text-align: center;
  }
  .countries__title {
    padding: 1em 1em;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav__desktop {
    display: block;
  }
  .header {
    background-image: url("../img/bridge-1920.jpg");
    padding: 1em;
    height: 80vh;
  }
  .header__heading {
    font-size: 5rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .image,
  .image2 {
    height: 1200px;
    padding: 10em 2em;
  }
  .image__heading, .image__heading2,
  .image2__heading,
  .image2__heading2 {
    font-size: 2.8rem;
  }
  .image {
    background-image: url("../img/mannheim-1920.jpg");
  }
  .image2 {
    background-image: url("../img/city-1920.jpg");
  }
  .cities__img {
    width: 650px;
  }
  .cities__box {
    flex-direction: column;
    padding: 1.5em 5em;
  }
  .cities__box__text {
    padding: 1em 1em;
  }
  .cities__box__img {
    text-align: center;
  }
  .cities__title {
    padding: 1em 1em;
    text-align: center;
  }
  .countries {
    height: 3400px;
  }
  .countries__img {
    width: 650px;
  }
  .countries__box {
    padding: 1.5em 5em;
    flex-direction: column;
  }
  .countries__box__text--right {
    padding: 1em 0.5em;
    margin-bottom: 2em;
    text-align: left;
  }
  .countries__box__img {
    text-align: center;
  }
  .countries__title {
    padding: 1em 1em;
    text-align: center;
  }
}
@media (min-width: 1100px) {
  .hamburger {
    display: none;
  }
  .nav__desktop {
    display: block;
  }
  .header {
    background-image: url("../img/bridge-1920.jpg");
    padding: 4em;
  }
  .header__heading {
    font-size: 6rem;
  }
  .header__text {
    font-size: 2.5rem;
  }
  .image,
  .image2 {
    height: 1400px;
    padding: 25em 8em;
  }
  .image__heading, .image__heading2,
  .image2__heading,
  .image2__heading2 {
    font-size: 3.3rem;
  }
  .image {
    background-image: url("../img/mannheim-1920.jpg");
  }
  .image2 {
    background-image: url("../img/city-1920.jpg");
  }
  .cities {
    height: 2400px;
  }
  .cities__img {
    width: 650px;
  }
  .cities__box {
    flex-direction: row;
    padding: 1.5em 5em;
  }
  .cities__box__text {
    padding: 1em 3em;
  }
  .cities__box__img {
    text-align: center;
  }
  .cities__title {
    padding: 1em 1em;
    text-align: center;
  }
  .countries {
    height: 2400px;
  }
  .countries__img {
    width: 650px;
  }
  .countries__box {
    padding: 1.5em 5em;
    flex-direction: row;
  }
  .countries__box__text--right {
    padding: 1em 3em;
    margin-bottom: 2em;
    text-align: right;
  }
  .countries__box__img {
    text-align: center;
  }
  .countries__title {
    padding: 1em 1em;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */