@import '../scss/mixins';
@import '../scss/colors';
@import '../scss/components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62, 5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

.header {
	position: relative;
	padding: 60px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	@include firstImg('../img/bridge-640.jpg');
	color: $white;
	text-shadow: 2px 2px black;

	&__heading {
		font-family: 'Lobster', cursive;
		font-size: 8rem;
	}
	&__text {
		font-size: 3rem;
		font-weight: bold;
	}
}

.hamburger {
	position: absolute;
	top: 30px;
	right: 30px;
	transform: translateY(-50%);
	z-index: 100;
	background-color: none;
	font-size: 1.3rem;

	&:hover {
		color: $white;
	}
}

.nav {
	&__mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $black;
		transform: translateX(-102%);
		transition: transform 0.3;
		z-index: 10;

		&__active {
			transform: translateX(0);
		}
	}

	&__desktop {
		display: none;
		position: absolute;
		width: 100%;
		height: 80px;
		padding: 18px;
		text-align: center;
		background-color: $main-color;
	}

	&__link {
		margin: 45px;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.8rem;
		color: $white;
		transition: color 0.3s;

		&:hover {
			color: gold;
		}
	}
}

.active {
	color: gold;
}

.aboutus {
	position: relative;
	text-align: center;
	height: 1200px;
	margin-top: 90px;
	padding: 100px 200px;

	&__heading {
		font-size: 3rem;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
	}

	i {
		margin-top: 80px;
		margin-bottom: 15px;
		font-size: 4rem;
		color: $main-color;
		text-shadow: 0 0 2px #000;
	}

	&__title {
		font-size: 2.3rem;
	}
	&__text {
		font-size: 1.6rem;
		text-transform: uppercase;
	}
}

.image {
	position: relative;
	text-align: center;
	height: 1400px;
	padding: 1000px 530px;
	@include firstImg('../img/mannheim-640.jpg');

	&__heading {
		padding: 70px 300px;
		font-size: 3rem;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		color: $white;
		text-shadow: 2px 2px black;
	}
}

.cities {
	position: relative;
	height: 2800px;
	margin-top: 200px;

	&__img {
		box-shadow: 5px 5px 10px;
	}

	&__heading {
		font-size: 3rem;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
	}

	&__box {
		padding: 100px 300px;
		display: flex;

		&__text {
			padding: 50px 100px;
			font-size: 1.4rem;
		}
	}

	&__title {
		padding: 50px 100px;
		font-size: 2.5rem;
		text-transform: uppercase;
		font-weight: normal;
	}
}

.image2 {
	position: relative;
	text-align: center;
	height: 1400px;
	padding: 1000px 530px;
	@include firstImg('../img/city-640.jpg');

	&__heading2 {
		padding: 70px 300px;
		font-size: 3rem;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		color: $white;
		text-shadow: 2px 2px black;
	}
}

.countries {
	position: relative;
	height: 3200px;
	margin-top: 200px;

	&__img {
		box-shadow: 5px 5px 10px;
	}

	&__heading {
		font-size: 3rem;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
	}

	&__box {
		padding: 100px 300px;
		display: flex;
		flex-direction: row;

		&__text--right {
			text-align: right;
			font-size: 1.4rem;
			padding: 50px 100px;
		}

		&__img--right {
			order: 1;
		}
	}

	&__title {
		padding: 50px 100px;
		font-size: 2.5rem;
		text-transform: uppercase;
		font-weight: normal;
	}
}

.contact {
	position: relative;
	padding: 100px;
	height: 1000px;
	background-color: $grey;
	overflow: hidden;

	&__heading {
		font-size: 3rem;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
		color: $white;
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-top: 30px;
		margin-bottom: 25px;
		color: $white;
		text-transform: uppercase;
	}

	&__form-input {
		@include contactForm;
	}
	&__form-textarea {
		@include contactForm;
		max-width: 100%;
		width: 100%;
		min-height: 150px;
	}

	&__form-btn {
		background-color: $white;
		padding: 12px;
		width: 100%;
		max-width: 300px;
		border: none;
		border-radius: 8px;
		align-self: flex-end;
		cursor: pointer;

		&::before {
			background-color: gold;
		}
	}
}

.footer {
	position: relative;
	height: 400px;
	color: $grey;

	&__box-text {
		padding: 20px;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
	}

	&__box-title {
		padding: 40px;
		font-family: 'Lobster', cursive;
		font-size: 2rem;
		text-align: center;
	}

	&__box-link {
		font-size: 3rem;
		margin-top: 60px;
		margin-left: 190px;
		margin-right: 150px;
		color: $grey;
	}

	&__box-text2 {
		padding: 40px;
		text-align: center;
	}

	&__bottom-text {
		padding: 20px;
		text-align: center;
	}
}

@media (max-width: 576px) {
	.header {
		background-image: url('../img/bridge-640.jpg');
		padding: 20px;
		height: 50vh;

		&__heading {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.5rem;
		}
	}

	.aboutus {
		margin-top: 45px;
		padding: 50px 100px;
		height: 900px;

		&__heading {
			font-size: 2.2rem;
		}

		&__title {
			font-size: 1.4rem;
		}

		&__text {
			font-size: 1rem;
		}
	}

	.image,
	.image2 {
		height: 800px;
		padding: 300px 40px;

		&__heading,
		&__heading2 {
			padding: 40px 80px;
			font-size: 1.9rem;
		}
	}

	.image {
		background-image: url('../img/mannheim-640.jpg');
	}
	.image2 {
		background-image: url('../img/city-640.jpg');
	}
	.cities {
		height: 3100px;
		margin-top: 0;
		padding: 60px 40px;
		&__img {
			width: 350px;
		}

		&__box {
			padding: 0px 20px;
			flex-direction: column;

			&__text {
				padding: 10px 30px;
				margin-bottom: 50px;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 20px 10px;
			text-align: center;
		}
	}

	.countries {
		height: 2900px;
		margin-top: 0;
		padding: 60px 40px;
		&__img {
			width: 400px;
		}

		&__box {
			padding: 0px 20px;
			flex-direction: column;

			&__text--right {
				padding: 10px 30px;
				margin-bottom: 50px;
				text-align: left;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 20px 10px;
			text-align: center;
		}
	}

	.contact {
		padding: 70px 40px;
	}
	.footer {
		padding: 60px 40px;
	}
}

@media (min-width: 576px) {
	.header {
		background-image: url('../img/bridge-640.jpg');
		padding: 20px;
		height: 60vh;

		&__heading {
			font-size: 4rem;
		}

		&__text {
			font-size: 1.8rem;
		}
	}

	.aboutus {
		margin-top: 45px;
		padding: 50px 100px;
		height: 950px;

		&__title {
			font-size: 2rem;
		}

		&__text {
			font-size: 1.4rem;
		}
	}

	.image,
	.image2 {
		height: 900px;
		padding: 350px 40px;

		&__heading,
		&__heading2 {
			padding: 40px 80px;
			font-size: 2.2rem;
		}
	}

	.image {
		background-image: url('../img/mannheim-640.jpg');
	}
	.image2 {
		background-image: url('../img/city-640.jpg');
	}

	.cities {
		height: 2900px;
		margin-top: 0;
		padding: 80px 40px;

		&__img {
			width: 450px;
		}

		&__box {
			flex-direction: column;
			padding: 0px 20px;
			&__text {
				padding: 10px 30px;
				margin-bottom: 50px;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 20px 10px;
			text-align: center;
		}
	}

	.countries {
		height: 2800px;
		margin-top: 0;
		padding: 80px 40px;

		&__img {
			width: 450px;
		}

		&__box {
			padding: 0px 20px;
			flex-direction: column;

			&__text--right {
				padding: 10px 30px;
				margin-bottom: 50px;
				text-align: left;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 20px 10px;
			text-align: center;
		}
	}
	.contact {
		padding: 70px 40px;
	}
	.footer {
		padding: 60px 40px;

		&__box-link {
			margin-left: 300px;
		}
	}
}

@media (min-width: 768px) {
	.header {
		background-image: url('../img/bridge-640.jpg');
		padding: 30px;
		height: 70vh;

		&__heading {
			font-size: 5rem;
		}

		&__text {
			font-size: 2rem;
		}
	}

	.aboutus {
		margin-top: 0px;
		padding: 100px;
		height: 1000px;

		&__title {
			font-size: 2.3rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	.image,
	.image2 {
		height: 1200px;
		padding: 450px 40px;

		&__heading,
		&__heading2 {
			padding: 40px 80px;
			font-size: 2.8rem;
		}
	}

	.image {
		background-image: url('../img/mannheim-640.jpg');
	}
	.image2 {
		background-image: url('../img/city-640.jpg');
	}
	.cities {
		height: 3200px;
		margin-top: 0;
		padding: 80px 40px;

		&__img {
			width: 550px;
		}

		&__box {
			flex-direction: column;
			padding: 0px 20px;
			&__text {
				padding: 10px 60px;
				margin-bottom: 50px;
			}
		}
		&__img {
			text-align: center;
		}

		&__title {
			padding: 20px 10px;
			text-align: center;
		}
	}

	.countries {
		height: 3000px;
		&__img {
			width: 550px;
		}

		&__box {
			padding: 0px 20px;
			flex-direction: column;

			&__text--right {
				padding: 10px 30px;
				margin-bottom: 50px;
				text-align: left;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 20px 10px;
			text-align: center;
		}
		.contact {
			padding: 70px 40px;
		}
		.footer {
			padding: 60px 40px;

			&__box-link {
				margin-left: 300px;
			}
		}
	}

	@media (min-width: 992px) {
		.hamburger {
			display: none;
		}

		.nav__desktop {
			display: block;
		}

		.header {
			background-image: url('../img/bridge-1920.jpg');
			padding: 30px;
			height: 80vh;

			&__heading {
				font-size: 5rem;
			}

			&__text {
				font-size: 2rem;
			}
		}
		.aboutus {
			margin-top: 100px;
			padding: 100px;
			height: 1000px;
		}

		.image,
		.image2 {
			height: 1200px;
			padding: 500px 40px;

			&__heading,
			&__heading2 {
				padding: 40px 80px;
				font-size: 2.8rem;
			}
		}

		.image {
			background-image: url('../img/mannheim-1920.jpg');
		}
		.image2 {
			background-image: url('../img/city-1920.jpg');
		}

		.cities {
			height: 3400px;
			margin-top: 0;
			padding: 100px 40px;

			&__img {
				width: 650px;
			}

			&__box {
				flex-direction: column;
				padding: 0px 20px;
				&__text {
					padding: 10px 90px;
					margin-bottom: 70px;
				}
				&__img {
					text-align: center;
				}
			}
			&__title {
				padding: 20px 10px;
				text-align: center;
			}
		}
		.countries {
			height: 3200px;
			&__img {
				width: 650px;
			}

			&__box {
				padding: 0px 20px;
				flex-direction: column;

				&__text--right {
					padding: 10px 90px;
					margin-bottom: 50px;
					text-align: left;
				}
				&__img {
					text-align: center;
				}
			}
			&__title {
				padding: 20px 10px;
				text-align: center;
			}
		}
		.contact {
			padding: 70px 80px;
		}
		.footer {
			padding: 60px 40px;

			&__box-link {
				margin-left: 300px;
			}
		}
	}

	@media (min-width: 1100px) {
		.hamburger {
			display: none;
		}

		.nav__desktop {
			display: block;
		}

		.header {
			background-image: url('../img/bridge-1920.jpg');
			padding: 30px;

			&__heading {
				font-size: 6rem;
			}

			&__text {
				font-size: 2.5rem;
			}
		}

		.image,
		.image2 {
			height: 1400px;
			padding: 500px 40px;

			&__heading,
			&__heading2 {
				padding: 40px 80px;
				font-size: 3.3rem;
			}
		}

		.image {
			background-image: url('../img/mannheim-1920.jpg');
		}
		.image2 {
			background-image: url('../img/city-1920.jpg');
		}

		.cities {
			height: 2600px;
			margin-top: 0;
			padding: 100px 40px;

			&__img {
				width: 650px;
			}

			&__box {
				flex-direction: row;
				padding: 60px 40px;

				&__text {
					padding: 60px 90px;
					margin-bottom: 0px;
				}

				&__img {
					text-align: center;
				}
			}
			&__title {
				padding: 30px 10px;
				text-align: center;
			}
		}

		.countries {
			height: 2600px;
			&__img {
				width: 650px;
			}

			&__box {
				flex-direction: row;
                padding: 60px 40px;

				&__text--right {
					padding:60px 90px;
					margin-bottom: 0px;
					text-align: right;
				}
				&__img {
					text-align: center;
				}
			}
			&__title {
				padding: 30px 10px;
				text-align: center;
			}
		}
	}
	
    .footer {
        padding: 60px 40px;

        &__box-link {
            margin-left: 190px;
        }
    }

}
