@import '../scss/mixins';
@import '../scss/colors';
@import '../scss/components';


*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62, 5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

.header {
	position: relative;
	padding: 4em;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	@include firstImg('../img/bridge-640.jpg');
	color: $white;
	text-shadow: 2px 2px black;

	&__heading {
		font-family: 'Lobster', cursive;
		font-size: 8rem;
	}
	&__text {
		font-size: 3rem;
		font-weight: bold;
	}
}

.hamburger {
	position: absolute;
	top: 3em;
	right: 1em;
	transform: translateY(-50%);
	z-index: 100;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: $white;
		z-index: 100;

	}
}

.nav {
	&__mobile {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $black;
		transform: translateX(-102%);
		transition: transform 0.3;
		z-index: 10;

		&__active {
			transform: translateX(0);
		}
	}

	&__desktop {
		display: none;
		position: absolute;
		width: 100%;
		height: 80px;
		padding: 0.7em;
		text-align: center;
		background-color: $main-color;
	}

	&__link {
		margin: 2em;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.8rem;
		color: $white;
		transition: color 0.3s;

		&:hover {
			color: gold;
		}
	}
}

.active {
	color: gold;
}

.aboutus {
	position: relative;
	text-align: center;
	height: 1200px;
	margin-top: 4em;
	padding: 4em 8em;

	&__heading {
		font-size: 3rem;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
	}

	i {
		margin-top: 1.5em;
		margin-bottom: 0.2em;
		font-size: 4rem;
		color: $main-color;
		text-shadow: 0 0 2px #000;
	}

	&__title {
		font-size: 2.3rem;
	}
	&__text {
		font-size: 1.6rem;
		text-transform: uppercase;
	}
}

.image {
	position: relative;
	text-align: center;
	height: 1400px;
	padding: 16em 8em;
	@include firstImg('../img/mannheim-640.jpg');

	&__heading {
		padding: 1em 5em;
		font-size: 3rem;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		color: $white;
		text-shadow: 2px 2px black;
	}
}

.cities {
	position: relative;
	height: 2800px;
	margin-top: 6em;

	&__img {
		box-shadow: 5px 5px 10px;
	}

	&__heading {
		font-size: 3rem;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
	}

	&__box {
		padding: 3em 5em;
		display: flex;

		&__text {
			padding: 1em 2em;
			font-size: 1.4rem;
		}
	}

	&__title {
		padding: 1em 3em;
		font-size: 2.5rem;
		text-transform: uppercase;
		font-weight: normal;
	}
}

.image2 {
	position: relative;
	text-align: center;
	height: 1400px;
	padding: 25em 8em;
	@include firstImg('../img/city-640.jpg');

	&__heading2 {
		padding: 1em 5em;
		font-size: 3rem;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		color: $white;
		text-shadow: 2px 2px black;
	}
}

.countries {
	position: relative;
	height: 3200px;
	margin-top: 6em;

	&__img {
		box-shadow: 5px 5px 10px;
	}

	&__heading {
		font-size: 3rem;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
	}

	&__box {
		padding: 3em 3em;
		display: flex;
		flex-direction: row;

		&__text--right {
			text-align: right;
			font-size: 1.4rem;
			padding: 1em 2em;
		}

		&__img--right {
			order: 1;
		}
	}

	&__title {
		padding: 1em 3em;
		font-size: 2.5rem;
		text-transform: uppercase;
		font-weight: normal;
	}
}

.contact {
	position: relative;
	padding: 4em;
	height: 1000px;
	background-color: $grey;
	overflow: hidden;

	&__heading {
		font-size: 3rem;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
		color: $white;
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		margin-top: 2rem;
		margin-bottom: 1rem;
		color: $white;
		text-transform: uppercase;
	}

	&__form-input {
		@include contactForm;
	}
	&__form-textarea {
		@include contactForm;
		max-width: 100%;
		width: 100%;
		min-height: 150px;
	}

	&__form-btn {
		background-color: $white;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		border: none;
		border-radius: 8px;
		align-self: flex-end;
		cursor: pointer;

		&::before {
			background-color: gold;
		}
	}
}

.footer {
	position: relative;
	height: 400px;
	color: $grey;

	&__box-text {
		padding: 2em;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
	}

	&__box-title {
		padding: 2em;
		font-family: 'Lobster', cursive;
		font-size: 2rem;
		text-align: center;
	}

	&__box-link {
		font-size: 3rem;
		padding: 3.6em;
		color: $grey;
	}

	&__box-text2 {
		padding: 2em;
		text-align: center;
	}

	&__bottom-text {
		padding: 1em;
		text-align: center;
	}
}

@media (max-width: 576px) {
	.header {
		background-image: url('../img/bridge-640.jpg');
		padding: 1em;
		height: 50vh;

		&__heading {
			font-size: 3rem;
		}

		&__text {
			font-size: 1.5rem;
		}
	}

	.aboutus {
		&__heading {
			font-size: 2.2rem;
		}

		&__title {
			font-size: 1.4rem;
		}

		&__text {
			font-size: 1rem;
		}
	}

	.image,
	.image2 {
		height: 800px;
		padding: 10em 2em;

		&__heading,
		&__heading2 {
			font-size: 1.7rem;
		}
	}

	.image {
		background-image: url('../img/mannheim-640.jpg');
	}
	.image2 {
		background-image: url('../img/city-640.jpg');
	}
	.cities {
		height: 3500px;
		&__img {
			width: 400px;
		}

		&__box {
			padding: 0em 2em;
			flex-direction: column;

			&__text {
				padding: 1em 1em;
				margin-bottom: 2em;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 2em;
			text-align: center;
		}
	}

	.countries {
		height: 3100px;
		&__img {
			width: 400px;
		}

		&__box {
			padding: 0em 2em;
			flex-direction: column;

			&__text--right {
				padding: 1em 1em;
				margin-bottom: 2em;
				text-align: left;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 2em;
			text-align: center;
		}
	}
}

@media (min-width: 576px) {
	.header {
		background-image: url('../img/bridge-640.jpg');
		padding: 1em;
		height: 60vh;

		&__heading {
			font-size: 4rem;
		}

		&__text {
			font-size: 1.8rem;
		}
	}

	.aboutus {
		&__title {
			font-size: 2rem;
		}

		&__text {
			font-size: 1.4rem;
		}
	}

	.image,
	.image2 {
		height: 800px;
		padding: 10em 2em;

		&__heading,
		&__heading2 {
			font-size: 2.2rem;
		}
	}

	.image {
		background-image: url('../img/mannheim-640.jpg');
	}
	.image2 {
		background-image: url('../img/city-640.jpg');
	}

	.cities {
		height: 3900px;
		&__img {
			width: 450px;
		}

		&__box {
			flex-direction: column;
			padding: 2em 5em;
			&__text {
				padding: 1em 1em;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 2em;
			text-align: center;
		}
	}

	.countries {
		height: 3600px;
		&__img {
			width: 450px;
		}

		&__box {
			padding: 2em 5em;
			flex-direction: column;

			&__text--right {
				padding: 1em 1em;
				margin-bottom: 2em;
				text-align: left;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 2em;
			text-align: center;
		}
	}
}

@media (min-width: 768px) {
	.header {
		background-image: url('../img/bridge-640.jpg');
		padding: 1em;
		height: 70vh;

		&__heading {
			font-size: 5rem;
		}

		&__text {
			font-size: 2rem;
		}
	}

	.aboutus {
		&__title {
			font-size: 2.3rem;
		}

		&__text {
			font-size: 1.6rem;
		}
	}

	.image,
	.image2 {
		height: 1200px;
		padding: 10em 2em;

		&__heading,
		&__heading2 {
			font-size: 2.8rem;
		}
	}

	.image {
		background-image: url('../img/mannheim-640.jpg');
	}
	.image2 {
		background-image: url('../img/city-640.jpg');
	}
	.cities {
		height: 3600px;
		&__img {
			width: 550px;
		}

		&__box {
			flex-direction: column;
			padding: 1.5em 5em;
			&__text {
				padding: 1em 1em;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 1em;
			text-align: center;
		}
	}
	.countries {
		height: 3500px;
		&__img {
			width: 550px;
		}

		&__box {
			padding: 1.5em 5em;
			flex-direction: column;

			&__text--right {
				padding: 1em 0.5em;
				margin-bottom: 2em;
				text-align: left;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 1em;
			text-align: center;
		}
	}
}

@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.nav__desktop {
		display: block;
	}

	.header {
		background-image: url('../img/bridge-1920.jpg');
		padding: 1em;
		height: 80vh;

		&__heading {
			font-size: 5rem;
		}

		&__text {
			font-size: 2rem;
		}
	}

	.image,
	.image2 {
		height: 1200px;
		padding: 10em 2em;

		&__heading,
		&__heading2 {
			font-size: 2.8rem;
		}
	}

	.image {
		background-image: url('../img/mannheim-1920.jpg');
	}
	.image2 {
		background-image: url('../img/city-1920.jpg');
	}

	.cities {
		&__img {
			width: 650px;
		}

		&__box {
			flex-direction: column;
			padding: 1.5em 5em;
			&__text {
				padding: 1em 1em;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 1em;
			text-align: center;
		}
	}
	.countries {
		height: 3600px;
		&__img {
			width: 650px;
		}

		&__box {
			padding: 1.5em 5em;
			flex-direction: column;

			&__text--right {
				padding: 1em 0.5em;
				margin-bottom: 2em;
				text-align: left;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 1em;
			text-align: center;
		}
	}
}

@media (min-width: 1100px) {
	.hamburger {
		display: none;
	}

	.nav__desktop {
		display: block;
	}

	.header {
		background-image: url('../img/bridge-1920.jpg');
		padding: 4em;

		&__heading {
			font-size: 6rem;
		}

		&__text {
			font-size: 2.5rem;
		}
	}

	.image,
	.image2 {
		height: 1400px;
		padding: 25em 8em;

		&__heading,
		&__heading2 {
			font-size: 3.3rem;
		}
	}

	.image {
		background-image: url('../img/mannheim-1920.jpg');
	}
	.image2 {
		background-image: url('../img/city-1920.jpg');
	}
	.cities {
		height: 2400px;
		&__img {
			width: 650px;
		}

		&__box {
			flex-direction: row;
			padding: 1.5em 5em;
			&__text {
				padding: 1em 3em;
			}

			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 1em;
			text-align: center;
		}
	}

	.countries {
		height: 2400px;
		&__img {
			width: 650px;
		}

		&__box {
			padding: 1.5em 5em;
			flex-direction: row;

			&__text--right {
				padding: 1em 3em;
				margin-bottom: 2em;
				text-align: right;
			}
			&__img {
				text-align: center;
			}
		}
		&__title {
			padding: 1em 1em;
			text-align: center;
		}
	}
}